<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/uploadvalues/nutritionValues" method="post">
      <table>
        <tr>
          <th>商品名稱</th>
          <td>
            <input
              type="text"
              name="PRODNAME"
              class="PRODNAME"
              value="請填寫商品名稱"
              required
              onfocus="clearDefault(this)"
            />
          </td>
        </tr>
        {% for i in range(title_list|length) %}
        <tr>
          <th>{{title_list[i]}}</th>
          <td>
            <input
              type="text"
              name="{{title_list[i]}}"
              class="{{title_list[i]}}"
              value="{{test[i]}}"
              required
            />
            {% if i==0 %}
            <label>大卡</label>
            {% else %}
            <label>公克</label>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      <button type="submit">儲存</button>
    </form>
    <script>
      function clearDefault(el) {
        if (el.defaultValue == el.value) el.value = "";
      }
    </script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
      function initializeLiff(myLiffId) {
        liff
          .init({
            liffId: myLiffId,
          })
          .then(() => {
            // start to use LIFF's api
            initializeApp();
          })
          .catch((err) => {});
      }
      initializeLiff("2002628645-MYnWDdvP");
    </script>
  </body>
</html>
