<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QRcode</title>
</head>

<body>
    <form action="">
        <label for="">請輸入台幣數量</label>
        <input id="twd-input" name="twd-input" type="text">
        <button id="submit-btn">換成美金</button>
    </form>
    <hr>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
        function initializeLiff(myLiffId) {
            liff
                .init({
                    liffId: myLiffId
                })
                .then(() => {
                    // start to use LIFF's api
                    initializeApp();
                })
                .catch((err) => {
                });
        }

        initializeLiff('LIFF_ID');
        document.getElementById("OS").innerHTML=liff.getOS()
        document.getElementById("Language").innerHTML=liff.getLanguage()

    
    </script>
</body>

</html>