<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <video
      id="video"
      width="240 px"
      height="320 px "
      autoplay
      playsinline
    ></video>
    <img id="photo" style="display: none" width="240 px" height="320 px" />
    <button id="snap" onclick="takePhoto()">Snap Photo</button>

    <script>
      const video = document.querySelector("video");
      const photo = document.querySelector("#photo");
      const constraints = {
        audio: false,
        video: {
          facingMode: "environment",
          width: { exact: video.width },
          height: { exact: video.height },
        },
      };
      const getCameraStream = async (video) => {
        try {
          const stream = await navigator.mediaDevices.getUserMedia(constraints);
          video.srcObject = stream;
        } catch (err) {
          console.error("Error accessing camera:", err);
        }
      };

      let takePhoto = () => {
        const canvas = document.createElement("canvas");
        const video = document.querySelector("video");
        canvas.width = video.width;
        canvas.height = video.height;
        const ctx = canvas.getContext("2d");
        ctx.scale(1, 1);
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        const imageDataURL = canvas.toDataURL("image/jpeg");
        // Stop the video stream
        let stream = video.srcObject;
        if (stream) {
          stream.getTracks().forEach((track) => {
            track.stop();
          });
        }
        video.style.display = "none";
        snap.style.display = "none";
        photo.style.display = "block";
        photo.src = imageDataURL;

        fetch("/upload", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ image: imageDataURL }),
        })
          .then((response) => response.json())
          .then((data) => console.log("Server response:", data))
          .catch((error) => console.error("Error sending image:", error));
      };

      getCameraStream(video);
    </script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
      function initializeLiff(myLiffId) {
        liff
          .init({
            liffId: myLiffId,
          })
          .then(() => {
            // start to use LIFF's api
            initializeApp();
          })
          .catch((err) => {});
      }

      initializeLiff("LIFF_ID");
      document.getElementById("OS").innerHTML = liff.getOS();
      document.getElementById("Language").innerHTML = liff.getLanguage();
    </script>
  </body>
</html>
